<!DOCTYPE html>
<html lang="zh-CN" th:fragment="layout(_content, _header)">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${site.title}"></title>
    <link rel="stylesheet" th:href="@{/assets/dist/css/main.min.css}" href="./assets/dist/style.css" />
    <script defer th:src="@{/assets/dist/libs/alpine.min.js}"></script>
    <script th:src="@{/assets/dist/main.min.js}"></script>
  </head>
  <body>
    <th:block th:if="${_header != null}">
      <th:block th:replace="${_header}" />
    </th:block>
    <th:block th:replace="${_content}" />
  </body>
</html>
