.ar-banner {
  width: 100%;
  position: relative;
  .banner-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    z-index: 1;
    .banner-text-inner {
      color: #FFFFFFF2;
      font-size: 3rem;
      font-weight: 700;
    }
  }
}

.ar-main {
  width: 100%;
  .main-container {
    display: flex;
    gap: 10px;
    .ar-aside {
      flex: 0 0 240px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .aside-item {
        text-align: center;
        .site-intro {
          background: linear-gradient(150deg, rgb(96, 112, 199) 15%, rgb(63, 81, 181) 70%, rgb(60, 77, 172) 94%);
          padding: 24px;
          color: #fff;
          .title {
            font-size: 20px;
          }
          .summary {
            font-size: 13px;
            margin: 16px 0 8px 0;
          }
        }
        .site-intro-search {
          padding: 24px;
          position: relative;
          .search-text {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            pointer-events: none;
            span {
              margin-right: 4px;
            }
          }
          input {
            padding: 10px 12px;
            height: 32px;
            border-radius: 4px;
            background-color: rgb(228, 231, 245);
            border: none;
            outline: none;
            cursor: pointer;
          }
        }
        .site-statistics {
          padding: 20px 20px 10px;
          color: #32325d;
          .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
          }
          .author {
            margin-top: 16px;
            font-size: 18px;
          }
          .statistics {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 16px;
            :nth-of-type(2) {
              border-left: 1px solid rgba(#000, .05);
              border-right: 1px solid rgba(#000, .05);
            }
            .item {
              padding: 0 10px;
              .count {
                font-size: 16px;
                margin-bottom: 4px;
              }
              .text {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    .articles {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      grid-auto-flow: dense;
      gap: 10px;
      .article {
        padding: 30px;
        .article-title {
          font-size: 1.8rem;
          line-height: 2rem;
          font-weight: 700;
          margin-bottom: 10px;
          transition: all 0.3s ease;
          color: #3f51b5;
          cursor: pointer;
          display: block;
          &:hover {
            scale: 1.02;
          }
        }
        .article-meta {
          font-size: 1rem;
          line-height: 1rem;
          color: #525F7F;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          row-gap: 4px;
          column-gap: 12px;
          .meta-item {
            display: flex;
            align-items: center;
            .text {
              margin-left: 2px;
              margin-top: 2px;
            }
          }
        }
        .article-content {
          font-size: 1rem;
          line-height: 1.8rem;
          color: #525f7f;
          margin: 20px 0 10px 0;
          font-weight: bold;
        }
      }
    }
  }
}